@import '../../variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

/* Dark mode */
@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff;
    --main-text-color: #222;
    --secondary-bg-color: #eeeeee;
    --cta-text-color: #22222299;
    --dim-text-color: #888;
    --error-text-color: #f12;
    --border-color: var(--cta-text-color);
    --bs-text-opacity: 1;
  }
}

/* Light mode */
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #222;
    --main-text-color: #ffffff;
    --secondary-bg-color: #444;
    --cta-text-color: #888;
    --dim-text-color: #bbbbbb88;
    --error-text-color: #f12;
    --border-color: var(--cta-text-color);
    --bs-text-opacity: 1;
  }
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

button,
input:not([type="file"]),
select,
textarea {
  border-radius: .25rem;
}

input[type="radio"] {
  width: 3rem;
  height: 2rem;
  background-color: var(--dim-text-color);
  accent-color: var(--dim-text-color)
}

.topNav {
  width: 100%;
  height: 6rem;
  color: var(--main-text-color);
  box-shadow: 0 0 0.4rem var(--border-color);
  display: flex;
  align-items: center;
  background-color: var(--secondary-bg-color);

  @media (prefers-color-scheme: dark) {
    box-shadow: none;
  }
}

.title {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-left: 11.9rem;
}

.navLink {
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  flex-basis: 14rem;
  color: var(--main-text-color);
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 0rem 5rem;
}

.panels {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.info {
  font-size: 1.4rem;
}

.panel {
  margin-right: 2rem;

  &:last-child {
    margin-right: 0;
  }

  .panelAction {
    color: var(--dim-text-color);
    font-size: 1.2rem;

    label {
      cursor: pointer;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.error {
  color: var(--error-text-color);
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-width: $sm) {
  .title {
    padding-left: 10rem;
  }
  .navLink {
    flex-basis: 15.28rem;
  }
  .panels {
    flex-direction: column;
  }

  .panel {
    margin-right: 0;
    margin-bottom: 1.4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
