@import '../../views/Home/styles.module.scss';

.btn {
  margin: 0rem 4rem;
  @include buttonSet(var(--main-text-color), var(--main-bg-color))
}

.linkBtn {
  @extend .btn;

  padding: 0;
  margin: 0;
  display: inline;
  border: none;
  color: var(--text-color);
  background-color: transparent;
  text-decoration: underline;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 1;
  }
}

@media screen and (max-width: 420px) {
  .btn {
    margin: 0.4rem 0rem;
  }
}
