* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

:root {
  --main-bg-color: #000000;
  --main-text-color: #FFFFFF;
  --secondary-bg-color: #EEEEEE;
  --secondary-text-color: #CF0A0A;
  --supporting-color: #DC5F00;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  margin-top: 10rem;
}

.line {
  height: 1rem;
  width: 27rem;
  border-bottom: 0.1rem solid var(--main-bg-color);
}

.cardText {
  font-size: 5rem;
  color: var(--main-bg-color);
  text-transform: uppercase;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clickableText {
  font-size: 1.3rem;
  padding-top: 0.5rem;
  color: var(--main-bg-color);
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
}

.clickableText:hover {
  color: var(--secondary-text-color);
}

.additionalDetails {
  margin-top: 3.5rem;
  font-size: 1.3rem;
  min-height: 2rem;
  text-transform: capitalize;
}

.cardDetails {
  margin-top: 3.5rem;
  font-size: 2.3rem;
  min-height: 5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 5.5rem;
}

.footerButtons {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0rem 4rem;
  padding: 1.3rem 5.5rem;
  border: 0.1rem solid var(--secondary-bg-color);
  border-radius: 0.5rem;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  transition: all 0.1s ease-in-out;
}

.footerButtons:hover {
  transition: all 0.3s;
  background: var(--secondary-bg-color);
  color: var(--main-bg-color);
}

.note {
  font-size: 1.2rem;
  padding-top: 1.5rem;
  color: var(--main-bg-color);
  opacity: 0.30;
}

.error {
  color: red;
}

@media screen and (max-width: 1200px) {
  #primary {width:95%;  margin: 0 auto; }
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
}

