.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 17rem 0em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 0.5rem;
}

.flippableCard {
  display: flex;
  cursor: pointer;
}

.cardTextFront,
.cardTextBack {
  font-size: 5rem;
  color: var(--main-bg-color);
  padding: 2.5rem;
}

.cardTextBack {
  opacity: 0.7;
  transition: all 0.52s ease-in-out;
}

.line {
  height: 1rem;
  width: 27rem;
  border-bottom: 0.1rem solid var(--main-bg-color);
}

.clickableText {
  font-size: 1.3rem;
  padding-top: 0.5rem;
  color: var(--main-bg-color);
  cursor: pointer;
  font-weight: 500;
}

.clickableText:hover {
  color: var(--cta-text-color);
}

.additionalDetails {
  margin-top: 3.5rem;
  font-size: 1.3rem;
  min-height: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 5.5rem;
}

.footerButtons {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0rem 4rem;
  padding: 1.3rem 5.5rem;
  border: 0.2rem solid var(--main-text-color);
  border-radius: 0.5rem;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  transition: all 0.1s ease-in-out;
}

.footerButtons:hover {
  opacity: 0.5;
}

.note {
  font-size: 1.2rem;
  padding-top: 1.5rem;
  color: var(--dim-text-color);
}

.error {
  color: red;
}

@media screen and (max-width: 75rem) {
  #primary {
    width: 95%;
    margin: 0 auto;
  }
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 66.25rem) {
  #primary {
    width: 67%;
  }
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 48rem) {
  #primary {
    width: 100%;
  }
}
