* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

:root {
  --main-bg-color: #222;
  --main-text-color: #FFFFFF;
  --secondary-bg-color: #EEEEEE;
  --cta-text-color: #22222299;
  --dim-text-color: #888;
}

$breakpoints: (
  phone: 20rem, 
  tablet: 48rem, 
  desktop: 64rem
) !default;

$media-expressions: (
  screen: "screen", 
  handheld: "handheld",
  retina2x: 
  ("(-webkit-min-device-pixel-ratio: 2)", 
  "(min-resolution: 192dpi)"
  )
) !default;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  margin-top: 10rem;
}

.line {
  height: 1rem;
  width: 27rem;
  border-bottom: 0.1rem solid var(--main-bg-color);
}

.cardText {
  font-size: 5rem;
  color: var(--main-bg-color);
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clickableText {
  font-size: 1.3rem;
  padding-top: 0.5rem;
  color: var(--main-bg-color);
  cursor: pointer;
  font-weight: 500;
}

.clickableText:hover {
  color: var(--cta-text-color);
}

.additionalDetails {
  margin-top: 3.5rem;
  font-size: 1.3rem;
  min-height: 2rem;
}

.cardDetails {
  margin-top: 3.5rem;
  font-size: 2.3rem;
  min-height: 5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 5.5rem;
}

.footerButtons {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0rem 4rem;
  padding: 1.3rem 5.5rem;
  border: 0.1rem solid var(--secondary-bg-color);
  border-radius: 0.5rem;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  transition: all 0.1s ease-in-out;
}

.footerButtons:hover {
  transition: all 0.3s;
  background: var(--secondary-bg-color);
  color: var(--main-bg-color);
}

.note {
  font-size: 1.2rem;
  padding-top: 1.5rem;
  color: var(--dim-text-color);
}

.error {
  color: red;
}

@media screen and (max-width: 75rem) {
  #primary {width:95%;  margin: 0 auto; }
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 66.25rem) {
  #primary { width:67%; }
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 48rem) {
  #primary { width:100%; }
}

