.panel {
  display: flex;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  min-height: 8rem;
  min-width: 20rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 4rem;
}

.subtext {
  font-size: 1.4rem;
  padding-top: 1rem;
  color: var(--dim-text-color);
}

.surplus {
  font-size: 1rem;
}
