@import '../../../views/Home/styles.module.scss';

.inputFieldSet {
  @include displaySet;
}

.caseInputSet {
  @include displaySet;
  flex-grow: 1;
}

.selectInputSet {
  @include displaySet;
  margin-left: 3rem;
}

@media screen and (max-width: 420px) {
.caseInputSet {
  max-width: 22.9rem;
}

.selectInputSet {
max-width: 10rem;
margin-left: 2rem;
}
}