@import '../../../variables.scss';

.inputFieldSet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.caseInputSet, 
.selectInputSet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.caseInputSet {
  flex-grow: 1;
  margin-left: 3rem;
}

@media screen and (max-width: $sm) {
  .inputFieldSet {
    flex-direction: column;
  }
  
  .caseInputSet {
   margin-left: 0rem;
  }
}