@import '../../../variables.scss';

.inputFieldSet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.caseInputSet, 
.selectInputSet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.caseInputSet {
  flex-grow: 1;
  margin-left: 3rem;
}

@media screen and (max-width: $sm) {
  .caseInputSet {
    max-width: 22.9rem;
  }

  .selectInputSet {
    max-width: 10rem;
    margin-left: 2rem;
  }
}